@charset "utf-8";

/* 基本的なタグの設定 */
body {
	font-family: Arial, Verdana, sans-serif;
	width: 95%;
	margin: 0 auto;
}

header {
	background-color: #527557;
	color: #eeeeee;
}

.contents {
	background-color: #cccccc;
	color: #222222;
	margin-top: 20px;
}

footer {
	background-color: #527557;
	color: #eeeeee;
}

header h1 {
	font-size: 24px;
}

.contents h1 {
	font-size: 24px;
}

.info {
	font-size: small;
}

/*  ナビゲーション部分の設定 */
nav ul {
	list-style: none;
	overflow: hidden;
}

nav li {
	float: left;
	width: 25%;
	height: 150%;
	text-align: center;
}

nav a {
	display: block;
	text-decoration: none;
	color: #eeeeee;
}

nav a:hover {
	display: block;
	text-decoration: none;
	background-color: white;
	color: black;
}

/* テーブルの設定 */
table {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border: 5px #7A9984 solid;
}

th {
	padding-left: 10px;
	height: 50px;
}

tr:nth-child(2n) {
	background-color: #A3CCB0;
}

tr:nth-child(2n+1) {
	background-color: #FFEDE5;
}

/* フォームの修飾 */
form {
	text-align: center;
}

input, textarea {
	width: 95%;
}

.css_btn_class {
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #83c41a;
	padding: 9px 18px;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #b8e356),
		color-stop(100%, #a5cc52));
	background: -moz-linear-gradient(center top, #b8e356 5%, #a5cc52 100%);
	background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356',
		endColorstr='#a5cc52');
	background-color: #b8e356;
	color: #ffffff;
	display: inline-block;
	text-shadow: 1px 1px 0px #86ae47;
	-webkit-box-shadow: inset 1px 1px 0px 0px #d9fbbe;
	-moz-box-shadow: inset 1px 1px 0px 0px #d9fbbe;
	box-shadow: inset 1px 1px 0px 0px #d9fbbe;
}

.css_btn_class:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #a5cc52),
		color-stop(100%, #b8e356));
	background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
	background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52',
		endColorstr='#b8e356');
	background-color: #a5cc52;
}

.css_btn_class:active {
	position: relative;
	top: 1px;
}

/* imgタグをレスポンシブWebデザイン対応 */
img {
	max-width: 100%;
	width: auto;
	height: auto;
}

/* Google Maps レスポンシブWebデザイン対応 */
.map {
	position: relative;
	height: 0;
	padding-top: 30px;
	padding-bottom: 56.25%;
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/* スマホのスタイル */
header nav {
	display: none;
}

/* タブレットのスタイル */
@media all and (min-width: 481px) {
	footer nav {
		display: none;
	}
	header nav {
		display: block;
	}
}

/* PCのスタイル */
@media all and (min-width: 769px) {
	/*
all: 980px;
sub: 200px;
margin: 15px;
main: 768px;
*/
	div.contents {
		overflow: hidden;
	}
	div.main {
		float: left;
		width: 78.0612245%;
	}
	div.sub {
		margin-top: 40px;
		float: right;
		width: 20.4081633%;
	}
}